SMTP_SERVER_USERNAME="your-email-address"
SMTP_SERVER_PASSWORD="your-app-password-from-gmail-or-other-provider"
SMTP_SERVER_HOST=email-smtp.us-east-1.amazonaws.com-or-some-other-location
SITE_MAIL_RECIEVER=mail-receiver-email-or-your-email-address